/* Sticky header styles */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  margin: 0; /* Hilangkan margin saat sticky */
  border-radius: 0; /* Hilangkan border-radius saat sticky */
  font-family: poppins, sans-serif; 
}
body {
    font-family: poppins, sans-serif;
  }
h1 {
    margin-bottom: 20px;
}
form input:first-of-type {
  margin-top: 2rem;
}
form button {
    margin-top: 3rem !important;
}