  body {
      font-family: poppins, sans-serif;
    }
  h1 {
      margin-bottom: 20px;
  }
  aside {
    margin-top: 3rem; /* Tambahkan jarak 2rem dari atas */
}
section {
    margin-top: 3rem; /* Tambahkan jarak 2rem dari atas */
}
/* Card styles */
.content-card {
  background: #F7F9FF;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}
.content-title {
  font-weight: bold;
  color: #111;
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
}
.content-date {
  font-size: 0.75rem;
  color: #111;
}
.content-link {
  color: #F87F1A;
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: none;
}